html,
body {
    font-family: 'ArialRounded', sans-serif;
    @apply h-full;
}

body {
    @apply bg-[#BA4949];
    @apply text-white;
}

body.focus {
    @apply bg-[#BA4949];
}

body.short-break {
    @apply bg-[#38858A];
}

body.long-break {
  @apply bg-[#397097];
}

body.dark {
    @apply bg-[#BA4949];
}
